extends layout

block content
  div.d-flex.justify-content-between
    if currentUser 
      div
        ul
          li Only members can see additional message info 
          li Only admins can delete messages
          li Member code is 'member'
        h3 Post
        form(action="" method="POST") 
          .mb-3 
            label.form-label(for="title") Title
            input#title.form-control(type="text" name="title" required value=(message===undefined ? "" : message.title)) 
          .mb-3 
            label.form-label(for="content") Content
            textarea#content.form-control(name="content" required)= message===undefined ? "" : message.content
          button.btn.btn-primary(type="submit") Submit
        if errors && errors.length
          ul 
            each error in errors
              li!= error.msg
    else
      div
        h1= title
        h4 Login to post a message
        ul
          li Only members can see additional message info 
          li Only admins can delete messages
          li Member code is 'member'
    div 
      h1 Message Board
      div 
        if messages
          each message in messages 
            div.card.mb-3.message
              div.m-2.d-flex.justify-content-between
                div
                  h4= message.title 
                  p= message.content
                if currentUser && currentUser.is_admin
                  div 
                    form(action=`/${message._id}/delete`, method="POST") 
                      input#messageid.form-control(type='hidden', name='messageid', value=message._id)
                      button.btn.btn-danger.btn-sm(type="submit") Delete
              .card-footer.d-flex.align-items-center.justify-content-between.message-info
                if currentUser && (currentUser.is_member || currentUser.is_admin)
                  p.m-0 By: #{message.user.full_name}
                  p.m-0= message.date_formatted
                else
                  p.m-0 By: User